@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600;900&display=swap');

$color1: #17171F;
$color2: #fff;
$color3: #17A1FA;
$color4: linear-gradient(231.14deg, #17A1FA 9.86%, #40FFC7 82.93%);
$color5: #512FFA;
$color6: #F5F6F7;

#rowtop {
  width: fit-content;

  header {
    position: relative;
    top: 0.75em;

    #logo1 {
      position: relative;
      top: -0.6em;
      left: -0.25em;
      font-size: 1.9em;
      font-weight: 500;
      background: $color4;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-emphasis-color: transparent;
    }

    #logo2 {
      position: relative;
      top: -2.77em;
      left: -0.8em;
      font-size: 0.7em;
      color: $color3;

      #subl {
        position: relative;
        left: -1.87em;
      }
    }
  }
}

.search-bar {
  position: relative;
  left: -0.5em;
  top: 0.92em;

  form {
    button {
      border: none;
      position: relative;
      top: 0.3em;
      left: 2em;
    }

    input {
      background-color: #F5F6F7;
      border: 1px solid #F5F6F7;
      border-radius: 0.5em;
      margin-top: 0.35em;
      padding-left: 2.7em;
      height: 2.5em;
      width: 41.5em;
    }
  }
}

#user {
  margin-right: -13em;
  position: relative;
  top: -0.09em;
  left: -2.9em;

  i {
    border-radius: 5em;
    color: $color2;
    background-color: $color5;
    font-size: 1em;
    padding: 0.5em;
    position: relative;
    top: -0.5em;
    left: 4.35em;
  }

  img {
    width: 2.35em;
    position: relative;
    top: -0.5em;
    left: 2.5em;
  }

  h5 {
    font-size: 0.99em;
    letter-spacing: 0.10em;
  }

  p {
    margin-top: -0.7em;
    font-size: 0.73em;
    letter-spacing: 0.10em;
  }
}

#row2 {
  position: relative;
  top: 5em;
}

.sidebar {
  .sidenav {
    list-style: none;
    position: relative;
    top: 2.2em;

    li {
      margin-bottom: 1.5em;
      height: 2.5m;
      width: 100%;
      border-radius: 1em;

      &:focus {
        height: 1.7em;
        width: 7em;
        background: $color3;
      }

      &:active {
        color: $color2;
        padding-left: 1em;
        border-radius: 0.65em;
        width: 100%;
        background: $color5;
      }
    }

    a {
      padding-top: 0.45em;
      height: 2.5em;
      padding-left: 1em;
      border-radius: 0.65em;
      display: block;
      text-decoration: none;
      color: $color1;

      &:active {
        color: $color2;
      }
    }

    a {
      padding-top: 0.45em;
      height: 2.5em;
      padding-left: 1em;
      border-radius: 0.65em;
      display: block;
      text-decoration: none;
      color: $color1;

      &:active {
        color: $color2;
      }
    }

    a.active {
      color: $color2;
      border-radius: 0.65em;
      height: 2.5em;
      width: 100%;
      background: $color5;
    }

    #logout {
      position: relative;
      top: 8.2em;
      text-decoration: none;
      color: $color1;
      &:active {
      background: red;
      color: $color2;
      padding-left: 1em;
    }
    }
  }
}

#row2mid {
  padding: 1em;
  background-color: $color6;

  h2 {
    position: relative;
    top: 0em;
    background-color: $color6;
  }

  #calendar {
    position: relative;
    top: 0.95em;
    background: $color2;
    border-radius: 1em;
    box-shadow: 0 15px 40px rgba(209, 209, 209, 0.12);

    #btn {
      position: relative;
      top: -37.15em;
      left: 34.5em;
      width: 8em;
      height: 1.85em;
      border-radius: 0.35em;
      border: none;
      background: $color5;
      color: $color2;
    }
  }
}

#row2end {
  position: relative;
  top: 0em;
  padding: 1em;
  background: $color6;

  .wrapper {
    position: relative;
    top: 0.3em;
    background: $color2;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);

    p {
      font-size: 1.5em;
      width: 6em;
      color: $color5;
      position: relative;
      top: 0.18em;
      left: 8em;
    }

    .wrapper header {
      position: relative;
      top: -0.95em;
      left: 22em;
      display: flex;
      align-items: center;
      padding: 25px 30px 10px;
      justify-content: space-between;
    }

    header .icons {
      display: flex;

      #prev {
        position: relative;
        top: -1.65em;
        left: 2.85em;

        i {
          font-size: 0.7em;
          color: $color5;
        }
      }

      #next {
        position: relative;
        top: -1.65em;
        left: 9.95em;

        i {
          font-size: 0.7em;
          color: $color5;
        }
      }
    }

    header .icons span {
      height: 38px;
      width: 38px;
      margin: 0 1px;
      cursor: pointer;
      color: $color1;
      text-align: center;
      line-height: 38px;
      font-size: 1.9rem;
      user-select: none;
      border-radius: 50%;
    }

    header .icons span:hover {
      background: $color2;
    }

    header .current-date {
      font-size: 1.45rem;
      font-weight: 500;
    }

    .calendar {
      margin-top: -4em;
      padding: 18.5px;
    }

    .calendar ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      text-align: center;
    }

    .calendar .days {
      margin-bottom: 0.3em;
    }

    .calendar li {
      color: $color5;
      width: calc(100% / 7);
      font-size: 0.8rem;
      margin-bottom: -0.15em;
    }

    .calendar .weeks li {
      color: $color1;
      font-weight: 500;
      cursor: default;
    }

    .calendar .days li {
      z-index: 1;
      cursor: pointer;
      position: relative;
      margin-top: 22px;
    }

    .days li.inactive {
      color: #aaa;
    }

    .days li.active {
      color: $color2;
    }

    .days li::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      height: 40px;
      width: 40px;
      z-index: -1;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    .days li.active::before {
      background: $color5;
    }

    .days li:not(.active):hover::before {
      background: #f2f2f2;
    }
  }

  .eventcon {
    background: $color2;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    height: 20em;
    margin-top: -2em;

    h2 {
      position: relative;
      top: 3.5em;
      left: -0.2em;
    }

    p {
      width: 3.5em;
      margin-right: -6em;
      color: $color1;
      font-size: 1em;
      position: relative;
      top: 4.5em;
      left: 20em;
    }

    ul {
      position: relative;
      top: -7.5em;
      padding: 3.5em;
      background: $color2;

      li {
        list-style: none;
        margin-bottom: -7em;
      }

      #Edate1 {
        width: 4em;
        font-size: 1em;
        padding: 0.5em;
        z-index: 2;
        border-bottom: 2px solid #cec3c3;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
        position: relative;
        left: 0.2em;
        top: 5em;
      }

      #Ename1 {
        color: $color1;
        font-size: 0.89em;
        position: relative;
        top: -0.4em;
        left: 4.7em;
        font-weight: bold;
      }

      #Estat1 {
        margin-right: -9em;
        width: 7em;
        color: $color1;
        font-size: 0.69em;
        position: relative;
        top: -1.5em;
        left: 5.69em;
      }

      #Etime1 {
        margin-right: -9em;
        width: 6.7em;
        color: $color1;
        font-size: 0.69em;
        position: relative;
        top: -5.8em;
        left: 16.7em;
      }

      #bord1 {
        position: relative;
        top: 4.5em;
        color: $color5;
      }

      #Edate2 {
        color: $color1;
        width: 4em;
        font-size: 1em;
        padding: 0.5em;
        z-index: 2;
        border-bottom: 2px solid #cec3c3;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
        position: relative;
        left: 0.2em;
        top: 5em;
      }

      #Ename2 {
        color: $color1;
        font-size: 0.89em;
        position: relative;
        top: -0.4em;
        left: 4.7em;
        font-weight: bold;
      }

      #Estat2 {
        color: $color1;
        margin-right: -9em;
        width: 7em;
        font-size: 0.69em;
        position: relative;
        top: -1.4em;
        left: 5.5em;
      }

      #Etime2 {
        margin-right: -9em;
        width: 6.8em;
        color: $color1;
        font-size: 0.69em;
        position: relative;
        top: -5.8em;
        left: 16.7em;
      }

      #bord2 {
        position: relative;
        top: 4.5em;
        color: $color5;
      }

      #Edate3 {
        color: $color1;
        width: 4em;
        font-size: 1em;
        padding: 0.5em;
        z-index: 2;
        border-bottom: 2px solid #cec3c3;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
        position: relative;
        left: 0.2em;
        top: 5em;
      }

      #Ename3 {
        margin-right: -9em;
        color: $color1;
        font-size: 0.89em;
        position: relative;
        top: -0.4em;
        left: 4.7em;
        font-weight: bold;
      }

      #Estat3 {
        margin-right: -9em;
        width: 7em;
        color: $color1;
        font-size: 0.69em;
        position: relative;
        top: -1.4em;
        left: 5.5em;
      }

      #Etime3 {
        margin-right: -9em;
        width: 6.8em;
        color: $color1;
        font-size: 0.69em;
        position: relative;
        top: -5.75em;
        left: 16.7em;
      }

      #bord3 {
        position: relative;
        top: 4.5em;
        color: $color5;
      }
    }
  }
}
