
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300&family=Raleway&display=swap');

@mixin flexContent($justify-content, $align-items, $flex-direction){

  display: flex;

  justify-content: $justify-content;

  align-items: $align-items;

  flex-direction: $flex-direction;

}

$blueGreen: linear-gradient(231.14deg, #17A1FA 9.86%, #40FFC7 82.93%);

$white: #fff;

*{

  background: none;

}

body{

  font-size: 3rem;

      

.footer{

  position: relative;

  top: 0px;

  left: 0px;

  height: 415.90px;

  width: 100%;

  background: #fff;

}

.vector{

  position: relative;

  width: 665px;

  height: 415.89px;

  left: -180px;

  border: none;

  background: none;

}

.footer-h{

  position: relative;

  top: -21.8vh;

  left: 7.2%;

  background: none;

  color: white;

  font-size: 35px;

  font-weight: 600;

}

.footer-sb{

  position: relative;

  top: -24.1vh;

  left: 7.2%;

  background: none;

  color: white;

  font-size: 16px;

  font-weight: 300;

}

.footer-txt{

  position: relative;

  height: 30px;

  width: 290px;

  top: -101%;

  line-height: 27px;

  left: 7.15%;

  background: none;

  color: white;

  font-size: 16px;

  font-weight: 300;

}

#icons{

  position: relative;

  width: 160px;

  top: -75%;

  left: 6.5%;

  @include flexContent(space-around, center, row);

}

#icons li{

  font-size: 24px;

  color: black;

  list-style: none;

  margin-left: 0px;

  cursor: pointer;

}

.box{

  position: relative;

  padding: 8vw;

  top: -175%;

  left: 40%;

  display: flex;

  justify-content: space-around;

  flex-wrap: wrap;

  align-items: flex-start;

  font-size: 16px;

  line-height: 35px;

}

h3{

  font-size: 22px;

  margin-top: 5px;

  margin-left: 28px;

  color: black;

}

a{

  text-decoration: none;

  color: black;

}

.links-c1 li{

  list-style: none;

  position: relative;

  left: 17%;

  line-height: 40px; 

  width: 160px;

  cursor: pointer;

  

}

.fh1{

  position: relative;

  left: -1.5%;

  top: 5px;

  cursor: pointer;

}

.links-c2 li{

  list-style: none;

  position: relative;

  left: 17%;

  line-height: 40px;

  width: 250px;

  cursor: pointer;

}

.fh2{

  position: relative;

  left: 6%;

  top: 5px;

  cursor: pointer;

}

.links-c3 li{

  list-style: none;

  position: relative;

  left: 20%;

  line-height: 40px;

  width: 150px;

  cursor: pointer;

}

.fh3{

  position: relative;

  left: 2%;

  top: 5px;

  cursor: pointer;

}

.links-c4 li{

  list-style: none;

  position: relative;

  left: 25%;

  line-height: 40px;

  width: 150px;

  cursor: pointer;

}

.fh4{

  position: relative;

  left: 15%;

  top: 4.8px;

  cursor: pointer;

} 

input{

  width: 160px;

  height: 5px;

  padding: 16px;

  margin-top: 15px;

  margin-bottom: 10px;

  border-radius: 10px;

  font-size: 17px;

  font-weight: 300;

  border: 2px solid #E6F3E691;

  background: #E6F3E691;

  color: #555556D1;

  box-shadow: 6px 6px 12px rgb(41, 41, 41, 0.09);

  cursor: text;

}

button{

  position: relative;

  left: 15px;

  margin-top: 25px;

  width: 127px;

  height: 35px;

  border-radius: 10px;

  border: 0.5px solid #4B89C2;

  background: $blueGreen;

  color: $white;

  cursor: pointer;

}

.btm-bx{

  position: relative;

  width: 1440px;

  height: 37px;

  top: -263px;

  left: -100px;

  @include flexContent(center, center, row);

  padding: 8px 0px;

  background: #17A1FA;

  border: none;

}

.c-txt{

  position: relative;

  left: 4.5%;

  width: 345px;

  height: 21px;

  background: none;

  color: $white;

  font-size: 14px;

}

 

}

