@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300&family=Raleway&display=swap');

$black: black;
$white: #fff;
$bluegreen: linear-gradient(231.14deg, #17A1FA 9.86%, #40FFC7 82.93%);
$lightblue: #17A1FA;

body{
  width: 100%;


  #card{
    height: fit-content;
    width: 100%;
    margin-left: -2.5em;
    border: none;
  }

  #imgv{
    height: 260px;
    width: 320px;
  }

  #overlay{
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    width: fit-content;
  }

  #c0h{
    font-size: 1.8em;
    position: relative;
    left: -1.45em;
  }

  #c0sh1{
    position: relative;
    top: -1.2em;
    left: -4em;
    font-size: 0.65em;
  }

  #c0sh2{
    position: relative;
    left: -1.9em;
  }

  #textc{
    width: 12em;
  }

  #c0text{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 1.7em;
    font-size: 0.55em;
    line-height: 1.3em;
    width: 100%;
    text-align: start;
  }

  #slinks{
    background: none;
    color: white;
    position: relative;
    left: -3.2em;
  }

  #sl{
    text-decoration: none;
    background: none;
    color: white;
    margin-left: 0.5em;
  }

  #c1{
    font-size: 0.8em;
    line-height: 2.2em;
  }

  #c1h{
    font-size: 1.3em;
  }

  #c2{
    font-size: 0.8em;
    line-height: 2.2em;
  }

  #c2h{
    font-size: 1.3em;
  }

  #c3{
    font-size: 0.8em;
    line-height: 2.2em;
  }

  #c3h{
    font-size: 1.3em;
  }

  #c4{
    font-size: 0.8em;
    line-height: 2.2em;
  }

  #c4h{
    font-size: 1.3em;
  }

  #inputE{
    font-size: 1.1em;
    width: 15em;
    height: 2.9em;
    margin-top: 1.4em;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border: 4px lightcyan;
    background-color: #ecfad2ce;
    box-shadow: 30px 30px 80px rgba(240, 239, 220, 0.09);
  }

  #subB{
    margin-bottom: 3em;
    margin-left: 0.7em;
    background: linear-gradient(231.14deg, #17A1FA 9.86%, #40FFC7 82.93%);
    color: white;
    width: 12em;
    height: 2.8em;
    border-radius: 0.5em;
    border: 1px solid lightskyblue;
  }

  #btmf{
    color: white;
    width: 100vw;
    background-color: #17A1FA;
    overflow-x: hidden;
  }

  #ct{
    font-size: 0.85em;
  }
}