#main-container {
    height: 100vh;
    background: linear-gradient(210deg, getColor(color03), getColor(color04));
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    padding-right: 10rem;
    padding-top: 30vh;
    h1 {
        font-size: 90px;
        color: getColor(color02);
    }
}