$black: black;
$white: #fff;
$bluegreen: linear-gradient(231.14deg, #17A1FA 9.86%, #40FFC7 82.93%);
$lightblue: #17A1FA;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300&family=Raleway&display=swap');

body{
  width: 100%;
}

#header{
  position: relative;
  width: 655px;
  height: 133px;
  left: 0.2em;
  top: 1em;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 95px;
  line-height: 110.5%;
  background: $bluegreen;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}

#pr{
  color: #17171F;
  position: relative;
  height: 37px;
  left: 0.8em;
  right: 79.93%;
  top: 4.2em;
  background: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.pr-head{
  font-family: "Raleway" sans-serif;
  color: #17171F;
  position: relative;
  height: 79px;
  width: 600px;
  left: 20.7em;
  top: 1em;
  background: none;
  color: $black;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.1px;
}

.pr-date{
  background: none;
  color: $black;
  font-family: "lato", sans-serif;
  font-size: 23px;
  height: 5px;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
  top: 6em;
  left: 0.9em;
}

.pr-text{
  font-family: "Raleway" sans-serif;
  background: none;
  height: 30px;
  width: 430px;
  color: $black;
  font-family: "lato", sans-serif;
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 0.5px;
  position: relative;
  top: 1em;
  left: 27.6em;

}

#sectioncol{
  position: relative;
  left: 17vh;
}

#carousel{
  position: relative;
  top: -5vh;
  width: 85rem;
}

#cslides {
  width: 79rem; 
}

#nfimg{
  position: relative;
  top: 18vh;
  left: 2.5em;
  width: 1150px;
  border-radius: 28px;
  height: 25vh;
  object-fit: cover;
}


#arrows{
  background: none;
  width: fit-content;
  position: relative;
  top: 4vh;
  left: 65em;         
}

#prev{
  margin-right: 1.25em;
}

#prev:hover, .carousel-button-prev:focus{
    background-color: $white;
}

#next:hover, .carousel-button-prev:focus{
  background-color: $white;
}

@media (max-width:1220px){
  .slide{
    left: -5em;
    width: 1050px;
  }
  .slide > img{
    left: 8.5em;
    width: 70em;
    height: 70%;
  }
}

@media (max-width:10876px){
  #next{
    top: 10vh;
    left: 65em;
  }
  #prev{
    top: 10vh;
    left: 55em;
  }
}

@media (max-width:991px){
  #next{
    top: 13vh;
    left: 63em;
  }
  #prev{
    top: 13vh;
    left: 53em;
  }
  .slide{
    left: -em;
    width: 900px;
  }
  .slide > img{
    width: 67em;
    height: 70%;
  }

}