@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

@keyframes slide {
  from {
    right: -50%;
    opacity: 0;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.academySection {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-inline: 4.2rem;
}
.academySection h2 {
  position: relative;
  font-style: normal;
  width: -moz-max-content;
  width: max-content;
  height: 130px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 90px;
  line-height: 90.5%;
  background: linear-gradient(285deg, rgb(5, 56, 255) 9.18%, #40FFC7 90.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width: 1200px) {
  .academySection h2 {
    width: -moz-min-content;
    width: min-content;
    height: 230px;
  }
}
@media (max-width: 470px) {
  .academySection h2 {
    width: -moz-min-content;
    width: min-content;
    height: 230px;
    font-size: 70px;
  }
}
.academySection p {
  position: relative;
  font-style: normal;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.academySection ul > li {
  list-style: none;
  color: rgba(247, 247, 248, 0.25);
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.1px;
  cursor: pointer;
}
.academySection ul > li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(rgb(23, 161, 250), rgb(64, 255, 199));
  transition: width 0.3s;
}
.academySection ul > li:hover::after {
  width: 100%;
}
.academySection .section {
  display: none;
}
.academySection .section.active {
  display: block;
}
.academySection ul li.active::after {
  width: 100%;
}
.academySection ul li.active {
  color: white;
}
.academySection .card {
  background-color: transparent;
  color: white;
  border-radius: 20px;
  border: 1px solid rgb(23, 161, 250);
  width: 100%;
  padding: 30px;
}
.academySection .card h3 {
  color: white;
}
.academySection .grid_card {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 43%;
  overflow-x: auto;
  height: 40vh;
}
@media (max-width: 780px) {
  .academySection .grid_card {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.academySection .grid_card button {
  margin-top: 3vh;
  background: transparent;
  border: 1px solid rgb(23, 161, 250);
  border-radius: 50px;
  position: relative;
  width: 100px;
  height: 50px;
  color: white;
}
.academySection .grid_card button:hover {
  position: relative;
  width: 100px;
  height: 50px;
  background: linear-gradient(115.35deg, #17A1FA 15.13%, #40FFC7 78.95%);
  border: none;
  border-radius: 50px;
}

.grid_card::-webkit-scrollbar {
  display: none;
}

.prev-nxt {
  background-size: 18%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0;
  z-index: -2;
}
.prev-nxt .navigate {
  font-size: 25px;
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  padding: 18px 20px;
  transition: background-color 1s ease;
  cursor: pointer;
}
.prev-nxt .navigate:first-child {
  margin-right: 20px;
}
.prev-nxt .navigate:hover {
  background-color: gainsboro;
  border: none;
  color: #fff;
}

footer {
  position: relative;
  bottom: -5rem;
}
footer #card {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: relative;
  left: -3.5em;
  border: none;
}
footer #imgv {
  height: 260px;
  width: 320px;
}
footer #overlay {
  display: flex;
  justify-content: flex-start;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
footer #c0h {
  font-size: 1.8em;
  position: relative;
  left: -1.45em;
}
footer #c0sh1 {
  position: relative;
  top: -1.2em;
  left: -4em;
  font-size: 0.65em;
}
footer #c0sh2 {
  position: relative;
  left: -1.9em;
}
footer #textc {
  width: 12em;
}
footer #c0text {
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 1.7em;
  font-size: 0.55em;
  line-height: 1.3em;
  width: 100%;
  text-align: start;
}
footer #slinks {
  background: none;
  color: #fff;
  position: relative;
  left: -3.2em;
}
footer #sl {
  text-decoration: none;
  background: none;
  color: #fff;
  margin-left: 0.5em;
}
footer #c1 {
  font-size: 0.8em;
  line-height: 2.2em;
}
footer #c1h {
  font-size: 1.3em;
}
footer #c2 {
  font-size: 0.8em;
  line-height: 2.2em;
}
footer #c2h {
  font-size: 1.3em;
}
footer #c3 {
  font-size: 0.8em;
  line-height: 2.2em;
}
footer #c3h {
  font-size: 1.3em;
}
footer #c4 {
  font-size: 0.8em;
  line-height: 2.2em;
}
footer #c4h {
  font-size: 1.3em;
}
footer #inputE {
  font-size: 1.1em;
  width: 15em;
  height: 2.9em;
  margin-top: 1.4em;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border: 4px lightcyan;
  background-color: rgba(234, 255, 196, 0.8078431373);
  box-shadow: 30px 30px 80px rgba(240, 239, 220, 0.09);
}
footer #subB {
  margin-bottom: 3em;
  margin-left: 0.7em;
  background: linear-gradient(231.14deg, #17A1FA 9.86%, #40FFC7 82.93%);
  color: #fff;
  width: 12em;
  height: 2.8em;
  border-radius: 0.5em;
  border: 1px solid lightskyblue;
}
footer #btmf {
  color: #fff;
  position: relative;
  left: -2rem;
  width: 101vw;
  background-color: #17A1FA;
  overflow-x: hidden;
}
footer #ct {
  font-size: 0.85em;
}

#newsflash {
  background-color: #fff;
}
#newsflash .header {
  position: relative;
  width: 655px;
  height: 133px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 95px;
  line-height: 110.5%;
  background: linear-gradient(231.14deg, #17A1FA 9.86%, #40FFC7 82.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
}
#newsflash #pr {
  color: black;
  position: relative;
  width: auto;
  height: 37px;
  background: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 24px;
  line-height: 40px;
}
#newsflash #pr-head {
  font-family: "Raleway", sans-serif;
  color: #17171F;
  position: relative;
  height: 79px;
  width: auto;
  left: 2em;
  background: none;
  color: black;
  font-style: normal;
  font-weight: bolder;
  font-size: 1.4em;
  line-height: 40px;
  letter-spacing: 0.1px;
}
#newsflash #pr-date {
  background: none;
  position: relative;
  color: black;
  font-family: "lato", sans-serif;
  font-size: 1.6em;
  height: 5px;
  letter-spacing: 1px;
  font-weight: 300;
}
#newsflash #pr-text {
  font-family: "Raleway" sans-serif;
  background: none;
  height: 30px;
  width: auto;
  color: black;
  font-family: "lato", sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1.5px;
  letter-spacing: 0.5px;
  position: relative;
  left: 3.2em;
}
#newsflash .arrow-wrapper div {
  position: relative;
  top: -2em;
}
#newsflash .arrow-wrapper div .arrowl {
  margin-right: 2em;
  cursor: pointer;
}
#newsflash .arrow-wrapper div .arrowl:active {
  background-color: #fff;
}
#newsflash .arrow-wrapper div .arrowl:hover {
  background-color: #fff;
}
#newsflash .arrow-wrapper div .arrowr {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 1s ease-out;
}
#newsflash .arrow-wrapper div .arrowr:active {
  background-color: #fff;
}
#newsflash .arrow-wrapper div .arrowr:hover {
  background-color: #fff;
}
#newsflash .owl-carousel img[alt=news_image] {
  border-radius: 1.4em;
}

.studyBG {
  background-color: #FFFFFF;
}
.studyBG h4 {
  font-family: Raleway;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
}
.studyBG p {
  position: relative;
  font-style: normal;
  letter-spacing: 0.1px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.studyBG h2 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
}

#testimonials {
  background-color: #0C0C0F;
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: -moz-fit-content;
  height: fit-content;
}
#testimonials .header {
  font-size: 65px;
  background-image: linear-gradient(123deg, #18A2FB 10%, #0538FF 39%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
#testimonials img[alt=Testimonial_image] {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
#testimonials .arrow-wrapper div .arrows {
  font-size: 20px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 20px 22px;
  transition: background-color 1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  text-decoration: none;
}
#testimonials .arrow-wrapper div .arrows:active {
  box-shadow: 0 0 10px 0 0 #808080;
}
#testimonials .arrow-wrapper div .arrows:first-child {
  margin-right: 20px;
}
#testimonials .arrow-wrapper div .arrows:hover {
  background-color: #808080;
  color: #fff;
}

#main-container {
  height: 100vh;
  background: linear-gradient(210deg, #40FFC7, #18A2FB);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 10rem;
  padding-top: 30vh;
}
#main-container h1 {
  font-size: 90px;
  color: #FFFFFF;
}/*# sourceMappingURL=styles.css.map */