@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

@keyframes slide {
  from {
    right: -50%;
    opacity: 0;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.academySection h2 {
  position: relative;
  font-style: normal;
  width: 1148px;
  height: 133px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 110px;
  line-height: 110.5%;
  background: linear-gradient(285deg, rgb(5, 56, 255) 9.18%, #40FFC7 90.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.academySection p {
  position: relative;
  font-style: normal;
  letter-spacing: 0.1px;
  color: #F0F0F5;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.academySection .buttonContainer > button {
  color: rgba(247, 247, 248, 0.25);
  border: none;
  background: transparent;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.1px;
  cursor: pointer;
}
.academySection .buttonContainer > button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(rgb(23, 161, 250), rgb(64, 255, 199));
  transition: width 0.3s;
}
.academySection .buttonContainer > button:hover::after {
  width: 100%;
}
.academySection .tabContainer .tabPanel {
  display: none;
}
.academySection .card {
  height: 100%;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  border: 1px solid rgb(23, 161, 250);
  width: 100%;
  padding: 30px;
}
.academySection .grid_card {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 43%;
  overflow-x: auto;
}
.academySection .grid_card button {
  background: transparent;
  border: 1px solid white;
  border-radius: 50px;
  position: relative;
  width: 100px;
  height: 50px;
  color: white;
}
.academySection .grid_card button:hover {
  position: relative;
  width: 100px;
  height: 50px;
  background: linear-gradient(115.35deg, #17A1FA 15.13%, #40FFC7 78.95%);
  border: none;
  border-radius: 50px;
}

.grid_card::-webkit-scrollbar {
  display: none;
}

.prev-nxt {
  background-size: 15%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0;
  z-index: -2;
}
.prev-nxt .arrow {
  font-size: 20px;
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  padding: 20px 22px;
  transition: background-color 1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.prev-nxt .arrow:hover {
  background-color: gainsboro;
  border: none;
  color: black;
}

* {
  background: none;
}

body {
  font-size: 3rem;
}
body .footer {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 415.9px;
  width: 1440px;
  background: #fff;
}
body .footer .vector {
  position: absolute;
  width: 665px;
  height: 415.89px;
  left: -128px;
  border: none;
  background: none;
}
body .footer .footer-h {
  position: absolute;
  top: 12%;
  left: 4%;
  background: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
body .footer .footer-sb {
  position: absolute;
  top: 25%;
  left: 4%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
body .footer .footer-txt {
  position: absolute;
  height: 30px;
  width: 350px;
  top: 42%;
  line-height: 27px;
  left: 4%;
  background: none;
  color: #fff;
  font-size: 19px;
  font-weight: 300;
}
body .footer #icons {
  position: absolute;
  top: 85%;
  left: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
body .footer #icons li {
  font-size: 24px;
  color: black;
  list-style: none;
  margin-left: 15px;
}
body .footer .box {
  position: absolute;
  padding: 8vw;
  top: -1%;
  left: 32%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 19px;
  line-height: 35px;
  border: none;
}
body .footer .box h3 {
  font-size: 22px;
  margin-top: 5px;
  margin-left: 32px;
  color: black;
}
body .footer .box a {
  text-decoration: none;
  color: black;
}
body .footer .links-c1 li {
  list-style: none;
  position: relative;
  left: 12px;
  line-height: 40px;
  width: 160px;
}
body .footer .fh1 {
  position: relative;
  left: -25px;
  top: 5px;
}
body .footer .links-c2 li {
  list-style: none;
  position: relative;
  left: 40px;
  line-height: 40px;
  width: 250px;
}
body .footer .fh2 {
  position: relative;
  left: 10px;
  top: 5px;
}
body .footer .links-c3 li {
  list-style: none;
  position: relative;
  left: 65px;
  line-height: 40px;
  width: 150px;
}
body .footer .fh3 {
  position: relative;
  left: 32px;
  top: 5px;
}
body .footer .links-c4 li {
  list-style: none;
  position: relative;
  left: 95px;
  line-height: 40px;
  width: 150px;
}
body .footer .fh4 {
  position: relative;
  left: 65px;
  top: 4.8px;
}
body .footer input {
  width: 160px;
  height: 14px;
  padding: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 300;
  border: 2px solid rgba(230, 243, 230, 0.568627451);
  background: rgba(230, 243, 230, 0.568627451);
  color: rgba(85, 85, 86, 0.8196078431);
  box-shadow: 6px 6px 12px rgba(41, 41, 41, 0.09);
}
body .footer button {
  position: relative;
  left: 15px;
  margin-top: 25px;
  width: 127px;
  height: 38px;
  border-radius: 10px;
  border: 0.5px solid #4B89C2;
  background: linear-gradient(231.14deg, #17A1FA 9.86%, #40FFC7 82.93%);
  color: #fff;
}
body .footer .btm-bx {
  position: absolute;
  width: 1440px;
  height: 37px;
  top: 415px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  background: #17A1FA;
  border: none;
}
body .footer .c-txt {
  position: relative;
  left: 4.5%;
  width: 345px;
  height: 21px;
  background: none;
  color: #fff;
  font-size: 14px;
}

.studyWithUs {
  background-color: #17171F;
}

.studyBG {
  background-color: #F0F0F0;
}
.studyBG h4 {
  font-family: Raleway;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
}
.studyBG p {
  position: relative;
  font-style: normal;
  letter-spacing: 0.1px;
  color: #5F5F5F;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.studyBG h2 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
}

#testimonials {
  background-color: #0C0C0F;
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: -moz-fit-content;
  height: fit-content;
}
#testimonials .header {
  font-size: 65px;
  background-image: linear-gradient(123deg, #18A2FB 10%, #0538FF 39%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
#testimonials img[alt=Testimonial_image] {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
#testimonials .arrow-wrapper div .arrows {
  font-size: 20px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 20px 22px;
  transition: background-color 1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  text-decoration: none;
}
#testimonials .arrow-wrapper div .arrows:active {
  box-shadow: 0 0 10px 0 0 #808080;
}
#testimonials .arrow-wrapper div .arrows:first-child {
  margin-right: 20px;
}
#testimonials .arrow-wrapper div .arrows:hover {
  background-color: #808080;
  color: #fff;
}

#main-container {
  height: 100vh;
  background: linear-gradient(210deg, #40FFC7, #18A2FB);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 10rem;
  padding-top: 30vh;
}
#main-container h1 {
  font-size: 90px;
  color: #FFFFFF;
}/*# sourceMappingURL=styles.css.map */