
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300&family=Raleway&display=swap');

.newsflash{

  position: relative;

  left: 0px;

  top: -5vh;

  right: 0px;

  width: 100vw;

  height: 1550px;

  background-color: #fff;

  .header{

    position: relative;

    width: 655px;

    height: 133px;

    left: 5.5%;

    top: 6%;

    font-family: "Raleway", sans-serif;

    font-style: normal;

    font-weight: 600;

    font-size: 95px;

    line-height: 110.5%;

    background: linear-gradient(255.29deg, #17A1FA 28.19%, #40FFC7 89.13%);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    background-clip: text;

    text-fill-color: transparent;

  }

  

  .pr{

    color: #17171F;

    position: relative;

    height: 37px;

    left: 6%;

    right: 79.93%;

    top: 0.9%;

    background: none;

    color: black;

    font-family: "Inter", sans-serif;

    font-style: normal;

    font-weight: 700;

    font-size: 24px;

    line-height: 40px;

  }

  

  .pr-head{

    color: #17171F;

    position: relative;

    height: 79px;

    width: 600px;

    left: 37%;

    right: 32.08%;

    top: -3%;

    background: none;

    color: black;

    font-family: "Inter", sans-serif;

    font-style: normal;

    font-weight: 700;

    font-size: 24px;

    line-height: 40px;

    letter-spacing: 0.1px;

  }

  

  .pr-date{

    background: none;

    color: black;

    font-family: "lato", sans-serif;

    font-size: 23px;

    height: 5px;

    letter-spacing: 1px;

    font-weight: 600;

    position: relative;

    top: -3%;

    left: 6%;

  }

  

  .pr-text{

    background: none;

    height: 30px;

    width: 490px;

    color: black;

    font-family: "lato", sans-serif;

    font-size: 21px;

    font-weight: 550;

    letter-spacing: 0.5px;

    position: relative;

    top: -5%;

    left: 37%;

  }

  

  

  

  .carousel{

    position: relative;

    background: none;

    top: -2vh;

    width: 1150px;

    height: 574px;

  } 

  

  .carousel > ul{

    margin: 0;

    padding: 0;

    list-style: none;

  }

  

  .slide{

    position: relative;

    background: none;

    width: 1150px;

    top: 1.3vh;

    left: -0.5%;

    opacity: 0;

    transition: 200ms opacity ease-in-out;

    transition-delay: 200ms;

  }

  

  .slide[data-active]{

    z-index: 1;

    opacity: 1;

    transition-delay: 0ms;

  }

  

  .slide > img{

    position: relative;

    background: none;

    left: 6.2%;

    display: block;

    width: 90%;

    height: 100%;

    object-fit: cover;

    object-position: center;

    border-radius: 30px;

  }

  

  .carousel-button-next{

    position: relative;

    width: 58px;

    top: -3vh;

    left: 104vw;

    background: none;

    z-index: 2;

    cursor: pointer;

    border-radius: 40px;

      &:hover,

      &:focus{

        background-color: #31333CF0;

  } 

  }

  

  .carousel-button-prev{

    position: relative;

    width: 58px;

    top: -3vh;

    left: 89vw;

    background: none;

    z-index: 2;

    cursor: pointer;

    border-radius: 40px;

      &:hover,

      &:focus{

      background-color: #31333CF0;

  }

  }

} 

