@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600;900&display=swap');

$color1: #17171F;
$color2: #fff;
$color3: #17A1FA;
$color4: linear-gradient(231.14deg, #17A1FA 9.86%, #40FFC7 82.93%);
$color5: #512FFA;
footer {
  background-color: $color1;
  position: relative;
  bottom: -0rem;

  #card {
    background-color: $color1;
    height: fit-content;
    width: 100%;
    position: relative;
    left: -3.5em;
    border: none;
  }

  #imgv {
    height: 260px;
    width: 320px;
  }

  #overlay {
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    width: fit-content;
  }

  #c0h {
    font-size: 1.8em;
    position: relative;
    left: -1.45em;
    top: -0.1em;
  }

  #c0sh1 {
    position: relative;
    top: -1.73em;
    left: -4em;
    font-size: 0.65em;
  }

  #c0sh2 {
    position: relative;
    left: -1.99em;
    top: -0.38em;
  }

  #textc {
    width: 12em;
  }

  #c0text {
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 1.7em;
    top: -1em;
    font-size: 0.55em;
    line-height: 1.3em;
    width: 100%;
    text-align: start;
  }

  #slinks {
    background: none;
    color: $color2;
    position: relative;
    left: -2.5em;

    #sl {
      text-decoration: none;
      background: none;
      color: $color2;
      margin-left: 0.5em;
    }
  }

  #c1 {
    font-size: 0.8em;
    line-height: 2.2em;
  }

  #c1h {
    font-size: 1.3em;
  }

  #c2 {
    font-size: 0.8em;
    line-height: 2.2em;
  }

  #c2h {
    font-size: 1.3em;
  }

  #c3 {
    font-size: 0.8em;
    line-height: 2.2em;
  }

  #c3h {
    font-size: 1.3em;
  }

  #c4 {
    font-size: 0.8em;
    line-height: 2.2em;
  }

  #c4h {
    font-size: 1.3em;
  }

  #inputE {
    font-size: 1.1em;
    width: 15em;
    height: 2.9em;
    margin-top: 1.4em;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border: 4px lightcyan;
    background-color: #f4fce6ce;
    box-shadow: 30px 30px 80px rgba(240, 239, 220, 0.09);
  }

  #subB {
    margin-bottom: 3em;
    margin-left: 0.7em;
    background: $color4;
    color: $color2;
    width: 12em;
    height: 2.8em;
    border-radius: 0.5em;
    border: 1px solid lightskyblue;
  }

  #btmf {
    color: $color2;
    position: relative;
    height: 2.35em;
    left: -2rem;
    width: 101vw;
    background-color: $color3;
    overflow-x: hidden;
  }

  #ct {
    margin-top: -0.5em;
    padding: 0;
    overflow: hidden;
    font-size: 0.85em;
  }

  @media (max-width: 1024px) {
    #c0sh1 {
      top: -1.5em;
    }

    #inputE {
      width: 11em;
    }

    #subB {
      position: relative;
      left: -0.6em;
      width: 9em;
    }

    #btmf {
      left: -0.7em;
    }
  }

  @media (max-width: 1024px) {
    #card {
      background: none;
    }
    #imgv {
      position: relative;
      top: 0.5em;
    }
    #slinks {
      top: 0em;
      left: -2em;
      width: 11em;
    }

    #c1 {
      position: relative;
      left: 7em;
    }

    #c2 {
      position: relative;
      left: 5.5em;
    }

    #c3 {
      position: relative;
      left: 5.5em;
    }

    #c4 {
      position: relative;
      left: 1em;
    }
  }

  @media (max-width: 769px) {
    height: 49em;
    #card {
      background: none;
    }
    #imgv {
      visibility: hidden;
    }
    #c0h {
      visibility: hidden;
    }
    #c0sh1 {
      visibility: hidden;
    }
    #c0text {
      color: $color2;
      top: -2em;
      left: 7.5em;
      width: 20em;
      font-size: 0.95em;
    }
    #slinks {
      top: -1em;
      left: 0.3em;
      width: 40em;
      #sl {
        margin-left: 2.7em;
        font-size: 2.5em;
      }
    }

    #c1 {
      position: relative;
      top: 2em;
      left: 29.3em;
    }

    #c2 {
      position: relative;
      top: 22em;
      left: -17em;
    }

    #c3 {
      position: relative;
      top: 22em;
      left: 5em;
    }

    #c4 {
      position: relative;
      left: -41em;
      top: 40em;
      #c4h {
        width: 11em;
      }
      #inputE {
        width: 23em;
      }
    }
    #subB {
      width: 12em;
      position: relative;
      left: -0.7em;
    }
    #btmf {
      visibility: hidden;
    }
  }

  @media (max-width: 380px) {
    height: 67em;
    #c0text {
      color: $color2;
      top: -8em;
      left: 3.8em;
      width: 20em;
      font-size: 0.95em;
    }
    #slinks {
      top: -3em;
      left: 0.3em;
      width: 22em;
      #sl {
        margin-left: 1em;
        font-size: 2.5em;
      }
    }
    #c1 {
      left: -9em;
    }
    #c2 {
      width: 14em;
      margin-right: -20em;
      top: 2em;
      left: -20em;
    }
    #c3 {
      position: relative;
      top: 3em;
      left: -8em;
    }
    #c4 {
      position: relative;
      top: 7em;
      left: 0em;
      #c4h {
        position: relative;
        left: -1em;
      }
      #inputE {
        width: 23em;
      }
      #subB {
        width: 13em;
        left: -7.7em;
      }
    }
  }
}
