@import "about-module";

#staff-area {
    padding: 30px;
    background-color: getColor(color01);
    position: relative;
    border-bottom: 1px solid getColor(color02);
    .team-header {
        width: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        .dot {
            background:linear-gradient(270.61deg, #17A1FA 15.58%, #40FFC7 91.75%); 
            border-radius: 5px;
            width: 5px;
            height: 30px;
            transform: rotate(180deg);
        }
        p {
            font-size: 15px;
            line-height: 36px;
            color: getColor(color02);
        }
    }
    .staff-header {
        font-size: 40px;
        color: getColor(color02);
        text-align: center;
        margin-bottom: 60px;
    }
    .staff-showcase {
        position: absolute;
        right: 30px;
        top: 60px;
        font-size: 18px;
        color: getColor(color02);
    }
    .staff-view-all {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        a {
            color: getColor(color02);
            text-align: center;
        }
    }
    // staffs card
    .staff-card-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
        .staff-card {
            .staff-card-img {
                width: 100%;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .staff-card-text {
                padding: 10px 3px;
                h4 {
                    color: getColor(color02);
                    font-size: 22px;
                    margin-bottom: 10px;
                }
                p {
                    color: getColor(color02);
                    font-size: 13px;
                }
            }
        }
    }
    .card-view-all {
        text-decoration: underline #17A1FA;    
        background: linear-gradient(243.92deg, #17A1FA -4.69%, #40FFC7 83.14%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        cursor: pointer;
    }
}

#testimonial-area {
    padding: 30px;
    background-color: getColor(color01);
    position: relative;
    .review-header {
        width: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        .dot {
            background:linear-gradient(270.61deg, #17A1FA 15.58%, #40FFC7 91.75%); 
            border-radius: 5px;
            width: 5px;
            height: 30px;
            transform: rotate(180deg);
        }
        p {
            font-size: 15px;
            line-height: 36px;
            color: getColor(color02);
        }
    }
    .testimonial-header {
        font-size: 40px;
        color: getColor(color02);
        text-align: center;
        margin-bottom: 60px;
    }
    .testimonial-showcase {
        position: absolute;
        right: 30px;
        top: 60px;
        font-size: 18px;
        color: getColor(color02);
    }

    //reviews
    .main-reviews-wrapper {
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .review-wrapper {
            display: grid;
            justify-content: center;
            align-items: center;
            gap: 20px;
            border-right: 1px solid getColor(color02);
            .review {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 3fr;
                justify-content: center;
                align-items: center;
                padding-bottom: 10px;
                .review-img {
                    width: 40px;
                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }
                .review-text {
                    h3 {
                        color: getColor(color02);
                        margin-bottom: 10px;
                        font-size: 19px;
                    }
                    p {
                        color: getColor(color02);
                        font-size: 15px;
                    }
                }
            }
            .rev-1 {
                border-bottom: 1px solid getColor(color02);
            }
        }
        .emp-students-wrap {
            display: grid;
            justify-content: center;
            align-items: center;
            padding-left: 40px;
            h2 {
                color: getColor(color02);
                font-size: 28px;
            }
            div {
                color: getColor(color02);
            }
            .emp-p-1 {
                color: getColor(color02);
                font-size: 16px;
            }
            .emp-p-2 {
                color: getColor(color02);
                font-size: 16px;
            }
        }
    }
}