@import "about-module";

#staff-area {
    padding: 30px;
    position: relative;
    // border-bottom: 1px solid getColor(color02);
    .staff-area-sub {
        .team-header {
            width: 5%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            @include portrait {
                margin-bottom: 20px;
            }
            .dot {
                background:linear-gradient(270.61deg, #17A1FA 15.58%, #40FFC7 91.75%); 
                border-radius: 5px;
                width: 5px;
                height: 30px;
                transform: rotate(180deg);
            }
            p {
                font-size: 15px;
                line-height: 36px;
                color: getColor(color02);
            }
        }
        .staff-header {
            font-size: 40px;
            color: getColor(color02);
            text-align: center;
            margin-bottom: 60px;
            @include portrait {
                margin-bottom: 70px;
            }
        }
        .staff-showcase {
            position: absolute;
            right: 30px;
            top: 60px;
            font-size: 18px;
            color: getColor(color02);
            @include portrait {
                top: 194px;
                font-size: 16px;
            }
        }
        .staff-view-all {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            @include portrait {
                justify-content: left;
                margin-bottom: 50px;
            }
            a {
                color: getColor(color02);
                text-align: center;
            }
        }
        // staffs card
        .staff-card-wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: center;
            gap: 10px;
            margin-bottom: 20px;
            @include portrait {
                display: grid;
                grid-column: 1fr / -1;
                grid-auto-flow: column;
                gap: 12px;
                overflow-x: auto;
            }
            .staff-card {
                @include portrait {
                    min-width: 13rem;
                }
                .staff-card-img {
                    width: 100%;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .staff-card-text {
                    padding: 10px 3px;
                    h4 {
                        color: getColor(color02);
                        font-size: 22px;
                        margin-bottom: 10px;
                        @include portrait {
                            font-size: 18px;
                        }
                    }
                    p {
                        color: getColor(color02);
                        font-size: 13px;
                        @include portrait {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .card-view-all {
            text-decoration: underline #17A1FA;    
            background: linear-gradient(243.92deg, #17A1FA -4.69%, #40FFC7 83.14%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            cursor: pointer;
        }
    }
}

#testimonial-area {
    padding: 30px;
    position: relative;
    .testimonial-area-sub {
        .review-header {
            width: 5%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            .dot {
                background:linear-gradient(270.61deg, #17A1FA 15.58%, #40FFC7 91.75%); 
                border-radius: 5px;
                width: 5px;
                height: 30px;
                transform: rotate(180deg);
            }
            p {
                font-size: 15px;
                line-height: 36px;
                color: getColor(color02);
            }
        }
        .testimonial-header {
            font-size: 40px;
            color: getColor(color02);
            text-align: center;
            margin-bottom: 60px;
            @include portrait {
                margin-top: 20px;
            }
        }
        .testimonial-showcase {
            position: absolute;
            right: 30px;
            top: 60px;
            font-size: 18px;
            color: getColor(color02);
            @include portrait {
                top: 190px;
                font-size: 16px;
            }
        }
    
        //reviews
        .main-reviews-wrapper {
            padding: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @include portrait {
                grid-template-columns: 1fr;
                padding: 20px;
            }
            .review-wrapper {
                display: grid;
                justify-content: center;
                align-items: center;
                gap: 20px;
                border-right: 1px solid getColor(color02);
                .review {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 10px;
                    .review-img {
                        width: 40px;
                        img {
                            width: 100%;
                            border-radius: 50%;
                        }
                    }
                    .review-text {
                        h3 {
                            color: getColor(color02);
                            margin-bottom: 10px;
                            font-size: 19px;
                        }
                        p {
                            color: getColor(color02);
                            font-size: 15px;
                        }
                    }
                }
                .rev-1 {
                    border-bottom: 1px solid getColor(color02);
                }
            }
            .emp-students-wrap {
                display: grid;
                justify-content: center;
                align-items: center;
                padding-left: 40px;
                h2 {
                    color: getColor(color02);
                    font-size: 28px;
                }
                div {
                    margin-bottom: 10px;
                    img {
                        width: 20px;
                    }
                }
                .emp-p-1 {
                    color: getColor(color02);
                    font-size: 16px;
                }
                .emp-p-2 {
                    color: getColor(color02);
                    font-size: 16px;
                }
            }
        }
    }
}

#social-media-wrapper {
    display: none;
    @include portrait {
        display: block;
    }
    div {
        .social-text {

        }
        .social-icon {
            img {
                width: 20px;
            }
        }
    }
}