.building .dot {
  background: linear-gradient(270.61deg, #17A1FA 15.58%, #40FFC7 91.75%);
  border-radius: 5px;
  width: 5px;
  height: 30px;
  left: 30px;
  top: 69px;
  transform: rotate(180deg);
}
.building h4 {
  padding: 2rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 63px;
  line-height: 116.5%;
}
.building .founding-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.read .more {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  -webkit-text-decoration: underline #17A1FA;
          text-decoration: underline #17A1FA;
  background: linear-gradient(243.92deg, #17A1FA -4.69%, #40FFC7 83.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

@media (max-width: 400px) {
  h4.build {
    font-size: 35px;
  }
}
.empower .dot {
  background: linear-gradient(270.61deg, #17A1FA 15.58%, #40FFC7 91.75%);
  border-radius: 5px;
  width: 5px;
  height: 30px;
  left: 30px;
  top: 69px;
  transform: rotate(180deg);
}
.empower h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 116.5%;
}
.empower p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.1px;
}
.empower .mrgin {
  margin-left: 4rem;
}
.empower p .Principal {
  background: linear-gradient(234.7deg, #17A1FA 38.96%, #40FFC7 80.62%);
  font-family: "Lato";
  letter-spacing: 0em;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width: 680px) {
  .empower h1 {
    font-size: 40px;
  }
  .empower .mrgin {
    margin: 0%;
    font-size: 16px;
  }
}
.mySlides {
  display: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.innovative .primetop {
  background: linear-gradient(210.72deg, #17A1FA -16.93%, #40FFC7 55.23%), linear-gradient(0deg, #F0F0F5, #F0F0F5);
  width: -moz-max-content;
  width: max-content;
  height: 10px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 30px;
  line-height: 90.5%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.innovative .fa-magnifying-glass {
  color: white;
  font-size: 1.2rem;
}
.innovative #text-img {
  position: relative;
}
.innovative #text-img .center {
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 2;
}
.innovative .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.innovative .open-bar1 {
  width: 40px;
  height: 2px;
  background-color: white;
  margin: 3px;
  border-radius: 5px;
}
.innovative .open-bar2 {
  width: 25px;
  height: 2px;
  background-color: white;
  float: right;
  border-radius: 3px;
  margin: 3px;
}
.innovative .close-bar {
  width: 40px;
  height: 2px;
  background-color: white;
  margin: 8px;
  border-radius: 5px;
}
.innovative .overlay-content {
  margin-top: 20vh;
}
.innovative .overlay-content .about {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  background: linear-gradient(230.04deg, #17A1FA 7.06%, #40FFC7 88.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.innovative .overlay-content h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 110.5%;
}
.innovative .overlay-content .register {
  background: linear-gradient(242.44deg, #17A1FA -0.19%, #40FFC7 82.04%);
  border: linear-gradient(242.44deg, #17A1FA -0.19%, #40FFC7 82.04%);
  color: white;
  font-family: "Raleway";
  width: 200px;
  height: 70px;
  border-radius: 8px;
}
.innovative .overlay-content .register:hover {
  background: transparent;
  color: white;
}
.innovative .overlay-content .login {
  background: transparent;
  border: 1px solid #17A1FA;
  font-family: "Raleway";
  color: white;
  width: 200px;
  height: 70px;
  border-radius: 8px;
}
.innovative .overlay-content .login:hover {
  background: linear-gradient(242.44deg, #17A1FA -0.19%, #40FFC7 82.04%);
  color: white;
}
@media (max-width: 1060px) {
  .innovative .overlay-content .about {
    font-size: 40px;
  }
  .innovative .overlay-content h1 {
    font-size: 60px;
  }
  .innovative .overlay-content .register, .innovative .overlay-content .login {
    width: 140px;
    height: 50px;
  }
}
.innovative .overlay a {
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
  margin-top: 3.2rem;
  margin-right: 1.1rem;
}
.innovative .nav-icon {
  cursor: pointer;
}
.innovative h2 {
  background: linear-gradient(234.7deg, #17A1FA 38.96%, #40FFC7 80.62%);
  font-family: Raleway;
  font-size: 120px;
  font-weight: 700;
  line-height: 140px;
  letter-spacing: 0em;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width: 769px) {
  .innovative h2 {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 380px) {
  .innovative h2 {
    font-size: 40px;
    line-height: 35px;
  }
}
.innovative .line-mf {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 0 auto;
}/*# sourceMappingURL=about.css.map */